<!-- This line creates an HTML heading that reads "Showing article details" -->
<h1>Showing article details</h1>

<!-- 
  This line creates an HTML paragraph that displays the title of the current article,
  which is stored in the @article instance variable.
 -->
<p><strong>Title: </strong><%= @article.title %></p>

<!-- 
  This line creates an HTML paragraph that displays the description of the current article,
  which is stored in the @article instance variable.
-->
<p><strong>Description: </strong><%= @article.description %></p>
